@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0d1b2a;
  color: #ffffff;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  flex: 1;
  max-width: 800px;
  padding: 20px;
}

.card {
  background: #1b263b;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #e0a96d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px ;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c68b59;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item-list li {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.chart-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.chart-grid .card {
  flex: 1;
  min-width: 300px;
}

input,
select {
  background-color: #415a77;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px;
}

input::placeholder {
  color: #e0e0e0;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chart-note {
  margin-top: 10px;
  font-style: italic;
}

.model-info {
  background: rgba(27, 38, 59, 0.9);
  border-radius: 8px;
  padding: 20px;
  color: #ffffff;

}

.glitch {
  position: relative;
  animation: glitch 1s linear infinite;
}

.glitch::before,
.glitch::after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch::before {
  animation: glitchTop 3s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.glitch::after {
  animation: glitchBottom 2s linear infinite;
  clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 66%, 100% 66%, 100% 100%, 0 100%);
}

@keyframes glitch {
  2%, 64% {
    transform: translate(-2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBottom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}


h1{
  font-size: 2rem;
  font-family: 'Fira Mono', monospace;
}